/* ============================================================================================== */
/* Reset Styles                                                                                   */
/* ============================================================================================== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* ============================================================================================== */
/* Base Typographic Styles                                                                        */
/* ============================================================================================== */

body {
  font-family: 'Crimson Text', 'serif';
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  width: 80%;
  position:relative;
  margin: 1.618em auto;
  max-width: 62.5em;
}

p {
  line-height: 1.5;
  padding: .618em 0;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;

}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}


cite {
  font-style: italic;
  color: #A0927E;
}

small {
  font-size: 80%;
}

figcaption {
  font-size: 0.9em;
  text-align: center;
  font-weight: 200;
  font-style: italic;
  line-height: 1em;
}

a {
  color: #A0927E;
  text-decoration: none;
}

a:hover {
  color: #CF756E;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans SC', 'sans-serif';
  font-weight: 500;
  text-rendering: optimizelegibility;
}

h1{
  font-size: 6.845em;
  line-height: 0.8em;
  text-indent: -0.08em;
}

h2{
  font-size: 2.618em;
  line-height: 1;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: #F0ECDA;
  text-indent: 0.618em;
}

h3{
  font-size: 1.618em;
  padding-top: 1.618%;
}

ul,
ol {
  padding: 0;
  margin: 0 0 0 1em;
}

ul ul,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: 1.5;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ============================================================================================== */
/* Demo Styles - Do most of your work here.                                                       */
/* ============================================================================================== */


/*  SECTIONS  ============================================================================= */

.section {
  clear: both;
  padding: 0;
  margin: 0 0 1% 0;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.pics {
  float: right;
  display: block;
  margin: 1% 0 1% 1.6%;
}

.col {
  display: inline-block;
  margin: 1% 0 0 1.6%;
}

.col:nth-child(-n+2) { margin-left: 0; } /* all browsers except IE6 and lower */


/*  GRID OF NINE   ============================================================================= */


.span_9_of_9 {
  width: 100%;
}

.span_8_of_9 {
  width: 88.71%;
}

.span_7_of_9 {
  width: 77.42%; 
}

.span_6_of_9 {
  width: 66.13%; 
}

.span_5_of_9 {
  width: 54.84%; 
}

.span_4_of_9 {
  width: 43.55%; 
}

.span_3_of_9 {
  width: 32.26%;
}

.span_2_of_9 {
  width: 20.97%; 
}

.span_1_of_9 {
  width: 9.68%; 
}

header {
  position: absolute;
  top: 2%;
  left: 43.55%;
}

#introduction {
  padding-bottom: 2.618em;
}

#introduction img{
  padding-left: 0;
}

.table-of-contents {
  position:fixed;
  margin: 1% 0 ;
  width: 16.776%;
  max-width: 14.125em;
}

.table-of-contents h2 {
  border: 0;
  font-size: 1.618em;
  background: none;
}

figure {
  margin-bottom: 5%;
}

img {
  width: 90%;
  padding-left: 10%;
}


/*  BREAK FOR HEADER */
@media only screen and (max-width: 1100px) {
  header {
    top: 0;
    margin-top:1%;
  }
}

/*  BREAK FOR TABLE OF CONTENTS */
@media only screen and (max-width: 980px) {

  ul {
    margin-left: 8%;
  }

  #introduction {
    padding-bottom: 0;
  }

  #introduction .span_4_of_9 {
    margin-left: 8em;
    width: 20em;
  }

  #introduction img {
    width: 100%;
  }

  #introduction .span_5_of_9 {
    margin: 1.618em auto;
    width: 100%;
    float: none;
  }

  header {
    /* Abs positioning makes it not take up vert space */ 
    position: absolute;
    top: 24em;
    left: 0;

    /* Rotate header from top left corner (not default) */
    -webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -ms-transform-origin:     0 0;
    -o-transform-origin:      0 0;
    
    -webkit-transform: rotate(270deg); 
    -moz-transform:    rotate(270deg); 
    -ms-transform:     rotate(270deg); 
    -o-transform:      rotate(270deg); 
  }

  .table-of-contents {
    position: relative;
    min-width: 100%;
  }

  .table-of-contents h2{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin-bottom: 1.6%;
    background: #F0ECDA;
  }

  .span_7_of_9 {
    width: 100%;
    margin: 0 auto auto 0 ;
  }

  .span_8_of_9 {
    width: 95%; 
  }

  .span_5_of_9 {
    width: 60%; 
  }

  .span_3_of_9 {
    width: 40%; 
  }

  .span_2_of_9 {
    margin: 0;
  }

  .span_1_of_9 {
    width: 5%; 
  }

}

@media only screen and (max-width: 743px) {

  body {
    width: 95%;
  }

  .span_9_of_9 {
    width: 100%; 
  }
  .span_8_of_9 {
    width: 100%; 
  }
  .span_7_of_9 {
    width: 100%; 
  }
  .span_6_of_9 {
    width: 100%; 
  }
  .span_5_of_9 {
    width: 100%; 
  }
  .span_4_of_9 {
    width: 100%; 
  }
  .span_3_of_9 {
    width: 35%;
  }
  .span_2_of_9 {
    width: 100%; 
  }
  .span_1_of_9 {
    width: 100%; 
  }
}

@media only screen and (max-width: 480px) {

  .col {
    display: block;
  }

  .pics {
    float: none;
    margin-left: 0;
  }

  #introduction .span_4_of_9 {
    width: 100%;
    max-width: 400px;
    display: block;
    position: relative;
    margin: auto;
  }

  #introduction .span_5_of_9 {
    margin: 0;
  }

  header {
    /* Abs positioning makes it not take up vert space */ 
    position: relative;
    text-align: center;
    top: auto;
    left: auto;
    padding: 1em 0;

    /* Rotate header from top left corner (not default) */
    -webkit-transform-origin: auto auto;
    -moz-transform-origin:    auto auto;
    -ms-transform-origin:     auto auto;
    -o-transform-origin:      auto auto;
    
    -webkit-transform: rotate(0deg); 
    -moz-transform:    rotate(0deg); 
    -ms-transform:     rotate(0deg); 
    -o-transform:      rotate(0deg); 
  }


  figure {
    max-width: 25em;
    display: block;
    position: relative;
    margin: auto;
    padding: 1.6% 0;
  }

 /* #introduction figure {
    padding: 1em 0;
  }*/

  img {
    width:100%;
    padding:0;
  }

  .span_3_of_9 {
    width: 100%;
  }

}

/* Clearfix class =============================================================================== */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }